.nav-absolute {
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar  {
    img {
        width: auto;
        height: 100px;
    }
}

.menu-item {
    a {
        padding: 30px 12px !important;
        color: rgba(255,255,255,0.9);
        
    }
    font-size: 20px !important;
}

.sticky-nav {
    margin-top: auto;
}


@media screen and (min-width: 768px) {
    .show-mobile {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .show-mobile {
        height: 100%;
        width: auto;
        
    }
    .nav-absolute {
        display: none;
    }
    .sticky-nav {

        margin-top: 0px;
    }
}